:root{
    --white-color: white;
    --second-color:  blue;
    --third-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: var(--white-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 20px;
    color: var(--white-color);
    line-height: 1.5;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    
}

h2{
    font-size: 40px;
}

.section {
    min-height: 100vh;
}

.section h1{
    align-items: center;
    text-align: center;
}

.main-bg{
    background-image: url(../img/subtle-prism.svg);
    background-attachment: fixed;
    background-size: cover;
    color: var(--white-color);
}

.main-bg h1{
    color: var(--third-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
}

.second-bg h1{
    color: var(--third-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
}

.second-bg{
    background-image: url(../img/subtle-prism2.svg);
    background-attachment: fixed;
    background-size: cover;
    color: var(--white-color);
}

.main-content{
    max-width: 100%;
    min-height: 100vh;
    padding: 40px;
}


/*Inicio da primeira parte*/
.home{
    min-height: 100vh;
    position: relative;
    padding: 30px;
}

.home-img{
    margin: auto;
}

.home-img img{
   border: 5px solid black;
   border-radius: 40%;
   width: 100%;
   margin: 5%;
}

.home-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.home-texto{
    text-align: center;
    margin: auto;
}

.home-texto h2{
    margin-bottom: 10%;
}

.home h1, #contact h1{
    margin-bottom: 5%;
}



/*Inicio da terceira parte*/

.skills-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

/*Inicio da ultima parte*/
.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;

}

.contact-content h2{
    color: rgba(0, 0, 0, 0.8);
}

.contact-links ion-icon{
    width: 40px;
    height: 40px;
    
}

.contact-content a, .contact-content ul li{
    text-align: center;
}

.contact-links ion-icon:hover{
    color: rgb(154, 111, 3);
    
}

.contact-informacoes, .contact-links{
    margin: auto;
    height: 40%;
    padding: 18px;
}

.contact-links{
    display: flex;
    flex-direction: column;
    
}

.contact-informacoes{
    line-height: 2;
}
